html, body {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
}

body {
	height: 100%;
	background: #666;
}

.bg {
	z-index: -1;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background: url(../images/bg.png);
	background-position: center;
	background-repeat: none;
	background-size: cover;
}

.chat-box {
    font-family: 'Roboto';
	font-size: 1rem;
	overflow: hidden;
	position: absolute;
	left: 2vw;
	bottom: 33vh;
	background: rgba(0,0,0,0.25);
	padding: 4px;
	color: white;
	width: 45vw;
}


#chat-log {
	background: rgba(0,0,0,0.5);
	scroll-behavior: smooth;
	overflow-y: auto;
	padding-left: 1rem;
	height: 25vh;
}

#chat-log p {
	margin: 0.25rem 0 0;
}

#chat-log .name1 {
	color: lime;
}
#chat-log .name2 {
	color: cyan;
}
#chat-log .name3 {
	color: orange;
}

#chat-log .toxic {
	font-weight: bold;
	color: red;
	animation: blink-white 2s infinite;
}

@keyframes blink-white {
	0% {background-color: inherit;}
	50% {background-color: white;}
	100% {background-color: inherit;}
}

.input-container {
	display: flex;
	padding: 4px 0 0;
}

#chat-input {
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
	color: white;
	font-size: 1rem;
	flex: 1;
	border: none;
}

#warning {
	display: none;
	place-items: center;
	position: absolute;
	right: 1rem;
	bottom: 15vh;
	width: 150px;
	height: 150px;
	font-size: 150px;
	font-weight: 400;
	border-radius: 50%;
	background-color: yellow;
	animation: blink-fade 1s infinite;
	z-index: 1;
}
@media only screen and (max-width: 768px) {
#warning {
	right: 1rem;
	top: 2rem;
	width: 25vw;
	height: 25vw;
	font-size: 23vw;
	font-weight: 400;
	}
}

@keyframes blink-fade {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

button#mic {
	position: absolute;
	left: calc(50vw - 75px);
	bottom: 1rem;
	width: 150px;
	height: 150px;
	cursor: pointer;
	color: lightgray;
	background-color: black;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: none;
    padding: .375rem .75rem;
    font-size: 100px;
    line-height: 1.5;
    border-radius: 50%;
	transition: color .15s;
}

button#mic:hover {
	background-color: #111;
	color: white;
}

button#mic:disabled {
	cursor: not-allowed;
	background-color: gray;
	opacity: 0.65;
}

.blink-red {
	animation: blink-red 2s infinite;
}

@keyframes blink-red {
	0% {background-color: inherit;}
	50% {background-color: red;}
	100% {background-color: inherit;}
}

#header {
	display: none;
	position: absolute;
	bottom: 15vh;
	right: 0;
	padding: 0.125rem;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.125rem;
	background-color: red;
	color: white;
	z-index: 2;
	transform: translateY(100%);
}

@media only screen and (max-width: 768px) {
	#header {
		bottom: initial;
		top: 0;
		left: 0;
		right: 0;
		transform: none;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 0.9rem;
	font-style: italic;
	line-height: 1rem;
	background-color: rgba(0,0,0,0.5);
	color: lightgray;
}

@media only screen and (max-width: 768px) {
  /* For mobile: */
  .chat-box { 
	width: 93vw;
  }
  
  #chat-log {
	height: 50vh;  
  }
  
  #warning {
	top: 4rem;
  }
  button#mic {
	bottom: 2rem;
  }
}

/* Scrollbar */
#chat-log::-webkit-scrollbar {
  width: 0.75rem;
}

/* Buttons */
#chat-log::-webkit-scrollbar-button
{
  border-style: solid;
}


/* Up */
#chat-log::-webkit-scrollbar-button:vertical:decrement
{
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #bfbfbf transparent;
}
#chat-log::-webkit-scrollbar-button:vertical:decrement:hover
{
  border-color: transparent transparent #afafaf transparent;
}


/* Down */
#chat-log::-webkit-scrollbar-button:vertical:increment
{
    border-width: 7px 5px 0 5px;
    border-color: #bfbfbf transparent transparent transparent;
}
#chat-log::-webkit-scrollbar-button:vertical:increment:hover
{
  border-color: #afafaf transparent transparent transparent;
}

/* Handle */
#chat-log::-webkit-scrollbar-thumb {
  background: rgba(255,255,255, 0.25);
}

/* Handle on hover */
#chat-log::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255, 0.125);
}